<div class="logo">
	<a href="{{ constant('BPATH') }}" title="דף הבית">
		<img src="{{ Image(options.site_logo_id).src }}" alt="{{ Image(options.site_logo_id).alt }}">
		<div class="custom-logo">{{ options.logo_text }}</div>
	</a>
</div>
