<div class="share-package">
	<button type="button" class="share-btn use-modal" data-modal="share-package" data-product-id="{{ product_id }}" data-product-link="{{ urldecode(get_the_permalink(product_id)) }}">
		<span class="icon-share"></span>
	</button>
</div>
