{% extends 'base.twig' %}

{% block content %}
	<div class="error-page">
		<img src="{{ Image(options.error_page_image.id).src }}" alt="{{ Image(options.error_page_image.id).alt }}">
		<div class="content wnm">{{ options.error_page_text }}</div>
	</div>
{% endblock %}
